<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-5 text-center mb-5"> CHAT</h1>
      <h2 class="display-5 text-center mb-5"> Exclusivo para pokefans!!</h2>
    </div>
    <img
      class="img-fluid col-md-6"
      style="max-width: 500px; display: block; margin: 0 auto"
      src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/11/pikachu-pokemon-escarlata-purpura-2888180.jpg?tf=3840x"
      alt="Saludo de pikachu"
    /></div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="user" class="form-label">Usuario:</label>
        <input type="text" class="form-control" id="user" />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Mensaje:</label>
        <input type="text" class="form-control" id="message" />
      </div>
      <button
        type="button"
        class="btn btn-light"
        id="btnEnviarMensaje"
        onclick="sendMessage()"
      >Enviar</button>
    </div>
    <div id="messages" class="col-md-6"></div>
  </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>