<div class="container">
  <h2 class="pb-5">Bienvenidos al maravilloso mundo Pokémon!</h2>
  <div class="row" id="video-container">
    <div
      class="col"
      style="display: flex; align-items: center; justify-content: center; height: 400px;"
    >
      <iframe
        width="800"
        height="450"
        src="https://www.youtube.com/embed/8RXz6Uru9WY"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="js/home.js"></script>