.bodyCss {
  color: pink;
  background-color: rgb(67, 46, 87);
  letter-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 60px;
  text-align: center;
}

img {
  border-radius: 50%;
  align-items: start;
  padding: 20px 5px;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

h2 {
  color: white;
  letter-spacing: 10px;
}

h3 {
  background-color: rgb(139, 117, 160);
  display: inline-block;
  padding: 10px 120px;
}

h4 {
  color: white;
  letter-spacing: 2px;
}

h5 {
  padding: 1% 20%;
  color: white;
}

label {
  letter-spacing: 3px;
  font-weight: bold;
}

.custom-link {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
